<ion-header>
  <ion-navbar color=danger>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Device Trust</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid class="device-trust-background" style="height: 25%">
    <ion-row justify-content-center align-items-center>
      <h1>
        <strong>{{trustScore}}%</strong>
      </h1>
    </ion-row>
    <ion-row justify-content-center align-items-center>
      <div align="center" color=light>Device Trust Score</div>
    </ion-row>
    <ion-row justify-content-center align-items-center style="padding-top: 1em">
      <div align="center" color=light>({{totalPassed}} out of {{totalTests}} checks passing)</div>
    </ion-row>
  </ion-grid>


  <ion-list>
    <ion-item *ngFor="let detection of detections">
      <div *ngIf="detection.detected" style="color: green">
        <ion-icon *ngIf="detection.detected" md-name="verified_user" color="green" class="trust-icon"></ion-icon>
        {{detection.label}}
      </div>
      <div *ngIf="!detection.detected" style="color: red">
        <ion-icon *ngIf="!detection.detected" md-name="warning" color="red" class="trust-icon"></ion-icon>
        {{detection.label}}
      </div>
    </ion-item>
  </ion-list>


  <ion-fab right bottom>
    <button ion-fab color="orange" (click)="refreshChecks()">
      <ion-icon name="refresh"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
