page-push {
    .push-background {
        background-color: white;
    }

    .unregistered-label {
        width: 100%;
        color: red;
        font-weight: bold;
        text-align: center;
    }

    .unregister-button {
        width: 100%;
        background-color: blue;
        font-weight: bold;
    }
}
