<ion-header>
    <ion-navbar color=danger>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Push Notifications</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="push-background">
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingText="Swipe down to refresh"></ion-refresher-content>
    </ion-refresher>
    <ion-grid>
        <ion-row *ngFor="let item of messages">
            <ion-col>
                <ion-item>
                    <h2>{{ item.message }}</h2>
                    <p>Received: {{ item.received }}</p>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <button *ngIf="buttonVisible()" ion-button class="unregister-button" (click)="disablePush()">Unregister</button>
    <ion-label *ngIf="!buttonVisible()" class="unregistered-label">Push not registered</ion-label>
  </ion-toolbar>
</ion-footer>