// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

:root {
  --main-color: #3d7185;
}

.aerogear-background {
  background-image: url('../assets/imgs/background-1.png') !important;
  background-size:cover;
}

.aerogear-background-two {
  background-image: -webkit-linear-gradient(top, #2e6980 0%, #4296b4 100%);
  background-image: -o-linear-gradient(top, #2e6980 0%, #4296b4 100%);
  background-image: linear-gradient(to bottom, #2e6980 0%, #4296b4 100%);	
  background-repeat: repeat-x;	 
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2e6980', endColorstr='#ff4296b4', GradientType=0);	
  border-bottom: 1px solid #2e6980;
  color: #fff;	
  position: relative;
}

.toast-error {
  > div{
    background-color: red !important;
    color: white !important;
    font-weight: bold;
  }
}

.toast-success {
  > div{
    background-color: #2e6980 !important;
    color: white !important;
    font-weight: bold;
  }
}

.trust-icon {
  position: relative;
  top: 2px;
}

.material-icons {
  display: inline-flex;
  vertical-align: top;
}

.banner {
  background-color: #3d7185;
  color: #fff !important
}

.authenticate-button {
  background-color: var(--main-color) !important;
  position: relative;
  width: 90vw;
  margin: auto;
  margin-top: 65vh;
}

.openid {
  position: relative;
  margin-top: 25vh;
}

.identity-header {
  font-size: 10pt;
  color: #2e6980;
}

.identity-text {
  font-size: 12pt
}