// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.aerogear-background {
  background: url(../assets/imgs/background-1.png) no-repeat center center fixed;
}

.toast-error {
  > div{
    background-color: red !important;
    color: white !important;
    font-weight: bold;
  }
}

.toast-success {
  > div{
    background-color: blue !important;
    color: white !important;
    font-weight: bold;
  }
}

.trust-icon {
  position: relative;
  top: 2px;
}

.material-icons {
  display: inline-flex;
  vertical-align: top;
}

.banner {
  background-color: #3d7185;
  color: #fff !important
}

.authenticate-button {
  background-color: #3d7185 !important;
  position: relative;
  width: 90vw;
  margin: auto;
  margin-top: 65vh;
}

.openid {
  position: relative;
  margin-top: 25vh;
}
